[submodule "External/CocoaAsyncSocket"]
	path = External/CocoaAsyncSocket
	url = https://github.com/chrisdevereux/CocoaAsyncSocket.git
[submodule "External/nstool"]
	path = External/nstool
	url = https://github.com/chrisdevereux/nstool.git
[submodule "External/OCHamcrest"]
	path = External/OCHamcrest
	url = https://github.com/hamcrest/OCHamcrest.git
[submodule "External/OCMockito"]
	path = External/OCMockito
	url = https://github.com/jonreid/OCMockito.git
